{
  "plugins": ["jest"],
  "extends": [
    "oclif",
    "oclif-typescript",
    "plugin:jest/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": "off",
    "no-console": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "unicorn/filename-case": "off"
  }
}
